<%= render "shared/header" %>
<div class="user-header">
    <div class="content-wrap">
      <div class="user-name">
        <%= @user.nickname %> のマイページ
      </div>
      <ul class="user-nav-bar">
        <li class="user-nav first-nav">
          <%= link_to "自己紹介", user_path(@user.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "投稿一覧", user_posts_path(@user.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "出品作品", user_sales_path(@user.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "お仕事依頼", user_offers_path(@user.id), class: "user-nav-link" %>
        </li>

        <% if user_signed_in? && current_user.id == @user.id %>
        <li class="user-nav">
          <%= link_to "プロフィール変更", edit_user_profile_path(@user.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "設定", edit_user_registration_path(@user.id), class: "user-nav-link" %>
        </li>
        <% end %>

      </ul>
    </div>
</div>
<div class="user-header-line"></div>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>プロフィール変更</h2>
      <h5>ユーザー情報を変更しよう</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model:[@user, @profile], url: user_profile_path, local: true do |f|%>
        <%= render 'shared/error_messages', model: f.object %>
          <div class='field'>
            <div class='field-label'>
              <%= f.label "自己紹介" %>
              <i>(任意)</i>
            </div>
            <div class='field-input'>
              <%= f.text_area :introduction, autofocus: true%>
            </div>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label "よく描くカテゴリー" %>
              <i>(必須)</i>
            </div>
            <div class='field-input'>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
            </div>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label "よく描くジャンル" %>
              <i>(必須)</i>
            </div>
            <div class='field-input'>
              <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "更新", class: 'btn'%>
          </div>
      <% end %>
    </div>
  </div>
</div>