<%= render "shared/header" %>
<div class="user-header">
    <div class="content-wrap">
      <div class="user-name">
        <%= @user.nickname %> のマイページ
      </div>
      <ul class="user-nav-bar">
        <li class="user-nav first-nav">
          <%= link_to "自己紹介", user_path(@user.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "投稿一覧", user_posts_path(@user.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "出品作品", user_sales_path(@user.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "お仕事依頼", user_offers_path(@user.id), class: "user-nav-link" %>
        </li>

        <% if user_signed_in? && current_user.id == @user.id %>
        <li class="user-nav">
          <%= link_to "プロフィール変更", edit_user_profile_path(current_user.id, current_user.profile.id), class: "user-nav-link" %>
        </li>

        <li class="user-nav">
          <%= link_to "設定", edit_user_registration_path(@user.id), class: "user-nav-link" %>
        </li>
        <% end %>

      </ul>
    </div>
</div>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>設定</h2>
      <h5>ユーザー情報を変更しよう</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "ユーザー名" %>
          </div>
          <div class='field-input'>
            <%= f.text_field :nickname, placeholder: @user.nickname %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "メールアドレス" %>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "新しいパスワード" %>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "new-password"%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "新しいパスワード(確認)" %>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "new-password"%>
          </div>
        </div>

        <div class="field">
          <div class='field-label'>
            <%= f.label "現在のパスワード" %>
          </div>
          <div class='field-input'>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
