<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>プロフィール作成</h2>
      <h5>プロフィールを作成しよう！</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @profile, local: true do |f|%>
        <%= render 'shared/error_messages', model: f.object %>
        
        <div class='field'>
          <div class='field-label'>
            <%= f.label "自己紹介" %>
            <i>(任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_area :introduction, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label "よく描くカテゴリー" %>
            <i>(必須)</i>
          </div>
          <div class='field-input'>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label "よく描くジャンル" %>
            <i>(必須)</i>
          </div>
          <div class='field-input'>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
          </div>
        </div>

        <div class='actions'>
          <%= f.submit "プロフィール作成", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
