<div class='footer'>
  <div class='footer-wrap'>
    <div class='footer-wrap__top'>
      <ul class='languege-list'>
        <li class='languege-title'>
          言語 ：
        </li>
        <li class='languege'>
          <%= link_to 'English', '#' %>
        </li>
        <li class='languege'>
          <%= link_to '简体中文', '#' %>
        </li>
        <li class='languege'>
          <%= link_to '繁体中文', '#' %>
        </li>
        <li class='languege'>
          <%= link_to '한국어', '#'%>
        </li>
      </ul>
    </div>
    <div class='footer-wrap__bottom'>
      <div class='servise-icon-box'>
        <%= link_to image_tag('epilog_logo.png'), root_path, id: 'footer-icon' %>
      </div>
      <div class='sitemap'>
        <div class='sitemap__link first-link'>
          <%= link_to 'プライバシーポリシー', '#'%>
        </div>
        <div class='sitemap__link'>
          <%= link_to 'お問い合わせ', '#'%>
        </div>
      </div>
      <div class='copylight'>
        <span>Copyright ©︎ 2020 motoi21 All Rights Reserved.</span>
      </div>
    </div>
  </div>
</div>